<div id="div-dad">
    <div id="title">
        <h2 id="h2-title">Welcome, <span>Jonathan Moreira</span></h2>
        <h4 id="h4-settings">Here is your settings</h4>
    </div>
    <div id="div-dad-nav">
        <div id="div-nav">
            <app-button-index class="button-setting"></app-button-index>
            <app-button-index class="button-setting"></app-button-index>
            <app-button-index class="button-setting"></app-button-index>
            <app-button-index class="button-setting"></app-button-index>
            <app-button-index class="button-setting"></app-button-index>
        </div>
    </div>
</div>