#div-dad{
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

#title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    height: 30vh;
    width: 100%;
}

#h2-title{
    font-weight: bold;
    font-size: 30px;
}

#h2-title span {
    display: block;
}

#h4-settings{
    font-size: 20px;
    color: #64748B;
}

#div-dad-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#div-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 94%;
    justify-content: flex-start;
}