#div-dad{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
}

#div-option{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 50%;
}

#div-options{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 50%;
}

button{
    transition: 0.2s;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}

@media (max-width: 280px) {
    #div-options {
        display: none;
    }
}