#div-dad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: 256px;
    width: 228px;
}

#div-title{
    font-weight: bold;
    font-size: 20px;
}

#div-icon{
    margin: 10px 0px;
}

#div-about{
    font-size: 14px;
    color: #64748B;
}