<button id="div-dad" class="justify-center items-center border-2" (click)='navigate()'>
    <div id="div-title">
        <h2>{{ title }}</h2>
    </div>
    <div id="div-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
            <path [attr.d]="svgPath" stroke-linecap="round" stroke-linejoin="round" />
        </svg>          
    </div>
    <div id="div-about">
        <p>{{ about }}</p>
    </div>
</button>
