<div id="div-dad">
    <div id="title">
        <h2 id="h2-title">Organizations</h2>
        <h4 id="h4-settings">See all the organizations that you're a part of.</h4>
    </div>

    <div id="div-dad-orga" *ngIf="!HasOrganization">
        <div class="div-orga">
            <h3 class="font-bold text-2xl">Is empty here</h3>
            <p id="paragraph">You dont have any organization or not belongs to any</p>
            <button id="btn-start-organization" (click)="StartOrganization()">Start a organization</button>
        </div>
    </div>

    <div class="flex items-center justify-start flex-col mt-10 mb-10" *ngIf="HasOrganization">
        <div class="flex flex-row justify-between h-[10%] w-[95%]">
            <h3>My organizations</h3>
            <button id="btn-start-organization2">New organization</button>
        </div>


        <hlm-table class="border border-gray-400 w-[95%] mt-2 rounded">
            <hlm-trow>
                <hlm-th class="text-xs text-[#64748B]">Name</hlm-th>
            </hlm-trow>
            <hlm-trow>
                <hlm-th class="flex text-sm text-[#020617]">organizacao 01</hlm-th>
            </hlm-trow>
            <hlm-trow>
                <hlm-th class="flex text-sm text-[#020617]">organizacao 02</hlm-th>
            </hlm-trow>
        </hlm-table>

    </div>

    <div class="flex items-center justify-start flex-col mt-10 mb-10">
        <div class="flex flex-col h-[10%] w-[95%]">
            <h3>Organization you collaborate with</h3>
            <p *ngIf="!HasOrganization">You dont collaborate with any organization yet.</p>
        </div>


        <hlm-table class="border border-gray-400 w-[95%] mt-2 rounded">
            <hlm-trow>
                <hlm-th class="text-xs text-[#64748B] w-[60%]">Name</hlm-th>
                <hlm-th class="text-xs text-[#64748B]">Status</hlm-th>
            </hlm-trow>

            <hlm-trow class="flex items-center justify-between">
                <hlm-td class="text-[#020617] w-[49%]">Organizacao XX</hlm-td>
                <hlm-td class="bg-[#E2E8F0] h-[30px] rounded-[10px] text-[12px] text-[#0F172A]">Aguardando
                    resposta</hlm-td>
                <hlm-td class="flex justify-center">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                    </button>
                </hlm-td>
            </hlm-trow>

            <hlm-trow class="flex items-center justify-between">
                <hlm-td class="text-[#020617] w-[40%]">Organizacao XY</hlm-td>
                <hlm-td class="bg-[#E2E8F0] h-[30px] rounded-[10px] text-[12px] text-[#0F172A]">Membro</hlm-td>
                <hlm-td>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                    </button>
                </hlm-td>
            </hlm-trow>
        </hlm-table>


    </div>
</div>