#div-dad {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

#title {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    height: 15vh;
    width: 100%;
}

#div-dad-orga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100vw;
}

.div-orga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 60%;
}

#btn-start-organization,
#btn-start-organization2 {
    margin-top: 20px;
    background-color: #0F172A;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

#btn-start-organization2 {
    margin: 0px;
}

button {
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}