

#title {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    height: 15vh;
    width: 100%;
}

#div-dad-orga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100vw;
}



#btn-start-organization,
#btn-start-organization2 {
    margin-top: 20px;
    background-color: #0F172A;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

#btn-start-organization2 {
    margin: 0px;
}
